@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.background {
  background-color: #f6f9fc;
  padding: 50px 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.c-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-flex {
  display: flex;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.RText {
  text-align: right;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}

.row {
  width: 50%;
}

.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}

.boxShadow {
  box-shadow: rgb(43, 52, 69 / 10%) 0px 4px 16px;
}

/*Categories Styling --------------------------------- */

.contentWidth {
  width: 77%;
}

.category {
  width: 23%;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}

.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}

.category .box {
  padding: 0 20px;
}

.category .box:hover {
  background-color: #ffe1ff;
  cursor: pointer;
}

/*Categories Styling --------------------------------- */

.btn-primary {
  background-color: #e94560;
  margin-top: 25px;
  padding: 13px 40px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.top {
  margin-top: 40px;
}

.mtop {
  margin-top: 20px;
}
